.cssUnitOverlay {
     opacity: 0.8;
     height: 10000px;
     width: 100%;
     background-color: #000;
     position: fixed;
     top : 0;
     left: 0;
     z-Index: 999999;
}

.cssUnitInfo {
    
    position: absolute;
    overflow: hidden;
    z-index: 99999999;
    width: 120px;
    height: 70px;
}

.cssUnitInfo .wrapper {
    
    padding: 5px;
    position: absolute;
    top: 0;
    left: 5px;
    width: 20px;
    -moz-border-radius: 5px;
}

.cssUnitInfo span,
.cssUnitInfo strong {
    
    color: #fff;
    text-align: center;
    display: block;
    font-size: 12px;
    
}

.cssUnitInfo .pointer {
    position: absolute;
    top: 10px;
    left: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width: 1px;
    height: 1px;
}

.cssUnitFail .pointer {
    border-right : 5px solid #ff393c;
}

.cssUnitPass .pointer {
    border-right : 5px solid #adeb41;
}

.cssUnitFail .wrapper {
    background-color: #ff393c;
}

.cssUnitPass .wrapper {
    background-color: #adeb41;
}


